.container{
	width:100%;
}

.wrapper{
	text-align:center;
}



#headerbar{
	height:128px;
	width:1080px;
	background:url('../images/title1.png');
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}


#navbar{
	background:rgba(60,153,192,0.68888888888);
	box-shadow:rgba(20,52,64,0.233333333333);
	-webkit-box-shadow:rgba(20,52,64,0.233333333333);
	height:40px;
	width:100%;
	min-width:1098px;
	border-bottom:solid 1px rgba(60,128,154,0.533333333333);
	border-top   :solid 1px rgba(60,128,154,0.533333333333);
	z-index:1000;
}

.navigation{
	height:100%;
	width:1080px;
	margin:auto;
	display:table;
}


#navbar-items{
	position:relative;
	padding-left:25px;
	padding-right:25px;
	height:20px;
	display:table-cell;
	padding-top:10px;
}
#navbar-items>li>a{
	padding-left:25px;
	padding-right:25px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px -2px -2px -2px;
	transition:background-color .45s, color .35s;
}

#navbar-items>li>a:hover{
	background-color:#50CBFF;
	border-top: solid 1px rgba(60,153,192,0.68888888888);
	border-bottom: solid 1px rgba(60,153,192,0.68888888888);
	
}

#extra-nav{
	background-color:rgba(114,136,140,0.88888888888);
	box-shadow:rgba(67,68,70,0.433333333333);
	-webkit-box-shadow:rgba(67,68,70,0.433333333333);
	height:100px;
	width:100%;
	min-width:1098px;
	border-top:solid 1px #495456;
	border-bottom:solid 1px #394446;
	display:none;
	z-index:9999;
}

#survey-items, #shop-items{
	position:relative;
	padding-left:25px;
	padding-right:25px;
	padding-top:10px;
	display:table-cell;
}

#survey-items>li>ul>li>a, #shop-items>li>ul>li>a{
	padding-left:12px;
	padding-right:12px;
	padding-top:5px;
	padding-bottom:5px;
	transition:color .35s;
}

#survey-items>li>ul>li>a:hover, #shop-items>li>ul>li>a:hover{
	color:#FFC701;	
}

.view{
	background:#FFFFFF;
	height:1000px;
	width:100%;
	margin:auto;
	overflow:hidden;
	display:table;
}

#content{
	width:800%;
	height:100%;
	white-space:nowrap;
	display:block;
	z-index:-500;
}

#home, #about, #bsl, #surveys, #shop, #contact, #articles, #dummy{
	width:12.5%;
	min-width:1098px;
	height:100%;
	float:left;
	display:inline-block;
	position:relative;
}

.left-nav, .right-nav{
	width:4%;
	height:100%;
	position:static;
	display:inline;
	transition:background-color .35s, -webkit-box-shadow .35s, box-shadow .35s;
}

.left-nav{float:left;}
.right-nav{float:right;}

.right-nav:hover, .left-nav:hover{
	background:rgba(160,172,174,0.38888888888);
	-webkit-box-shadow:rgba(20,52,64,0.233333333333);
	box-shadow:rgba(20,52,64,0.233333333333);	
}



#left-nav:hover, #right-nav:hover{
	animation:nav-show .5s ease-in;
	-o-animation:nav-show .5s ease-in;
	-moz-animation:nav-show .5s ease-in;
	-webkit-animation:nav-show .5s ease-in;
}

#authoriaztion-required{
	text-align:center;
}

.fixed{
	position:fixed;
}

.shift{
	margin-top:42px;
}

.noshift{
	margin-top:-100px;
}

.visible{
}

.active{
}